<mat-card>
    <mat-card-content>        
        <br>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet orci vel eros posuere egestas eu quis ligula. Duis pellentesque metus ut consequat eleifend. Morbi urna dui, egestas elementum sagittis a, sollicitudin ut justo. Maecenas ut auctor velit. Donec sit amet elementum nibh. Cras vulputate quam sapien, eget aliquet sapien pulvinar et. Morbi lorem arcu, consectetur ac ex egestas, dapibus aliquet nisl. Ut maximus lacinia tellus, a porta felis vulputate sed. Donec imperdiet eros quis venenatis vestibulum.
        <br>
        <br>

    Nunc sollicitudin fermentum ligula, ac fermentum sem accumsan in. Morbi quis luctus mi. Vivamus at pharetra tortor, eget viverra diam. Praesent a eros eget nulla hendrerit mollis vel in nisl. Nulla condimentum ex quis ex accumsan fermentum. Nullam faucibus ac nibh vitae rhoncus. Curabitur condimentum, mauris quis ultrices sodales, quam dolor molestie quam, eget tincidunt odio dui eu massa. Quisque laoreet dignissim magna, id pretium arcu sollicitudin eget. Duis mollis lorem in finibus pellentesque. Phasellus pretium, velit at ullamcorper blandit, nulla quam malesuada odio, eu aliquam magna ipsum sed libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc quis odio eu justo facilisis aliquet. Integer blandit libero vitae mi ultrices, eget tincidunt metus finibus. Cras vitae blandit velit. Nam ex nunc, ultricies sit amet metus ut, imperdiet tempor ligula.
        <br>
        <br>


    Aliquam in placerat sem. Nullam eleifend at tellus sed vulputate. Proin non odio lacinia, consequat nunc ultrices, dignissim sem. Pellentesque placerat, metus id feugiat convallis, nibh metus tempus mauris, nec scelerisque orci diam at lorem. Donec feugiat ipsum vel dolor convallis, vel consectetur nisi malesuada. Suspendisse et hendrerit orci, id auctor lorem. In orci neque, fermentum euismod turpis et, placerat pretium metus.
        <br>
        <br>


    Fusce vestibulum convallis vestibulum. Sed blandit enim eget nisl convallis, sit amet tincidunt orci tempor. In non auctor nunc. Suspendisse feugiat odio eu libero lacinia vulputate. Etiam aliquam id justo volutpat elementum. Etiam ut posuere ligula, nec venenatis tellus. Vestibulum eleifend diam ornare convallis congue. Integer eu venenatis ligula. Aliquam gravida sollicitudin lorem consectetur luctus. Pellentesque vitae eleifend tortor, eget consectetur orci.
        <br>
        <br>


    Suspendisse nec sem posuere, tempus ante at, dapibus eros. Nunc posuere sem dolor, vitae semper metus maximus nec. Etiam facilisis interdum urna, quis aliquet leo eleifend nec. Phasellus aliquam blandit maximus. Maecenas odio lorem, lobortis vitae vulputate non, tincidunt a sapien. Phasellus at sollicitudin metus. Phasellus lacinia tellus dolor, eget mattis orci varius eu. Integer porttitor molestie elit in sollicitudin. Mauris sapien augue, bibendum id orci non, congue elementum tortor.
    </mat-card-content>
</mat-card>
