.mat-toolbar {
    background-color: #A75E68;
}

.toolbar-area {
    width: 100%;
    position: relative;
}

.centered-title {
    position: absolute;               
    top: 50%;
    left: 50%;                         
    transform: translate(-50%, -50%) 
}

@media only screen and (max-width: 500px) {
    .mat-toolbar {
        height: 15rem;
    }

    .centered-title {
        position: absolute;
        top: 0;
        left: 50%;                         
        transform: translate(-50%, 0) 
    }

    .toolbar-area {
        height: 100%;
    }

    /* For mobile phones: */
    .nav-buttons {
        padding-top: 3.5rem;
        flex-direction: column !important;

        .account-buttons {
            flex-direction: column !important;

            button {
                width: 100%;
                margin: .5rem 0 !important;
            }
        }

        .menu {
            flex-direction: column !important;

            button {
                width: 100%;
                margin: .5rem 0 !important;
            }
        }
    }
  }