<mat-toolbar>
  <div class="toolbar-area">
    <div class="centered-title" >
      <span style="font-family: 'Bowlby One SC'; color: white;">XpanD</span>
    </div>
    <div fxLayout="row" class='nav-buttons' fxLayoutAlign="space-between">
      <div fxLayout="row" class="menu" fxLayoutAlign="start center" fxLayoutGap="1rem">
        <button mat-raised-button *ngIf="accountService.currentUser$ | async" routerLink="/planets-board" color="primary">
          <span>Planets Board</span>
        </button>
      </div>      
      <div fxLayout="row" class="account-buttons" fxLayoutAlign="start center" fxLayoutGap="1rem">
        <button mat-raised-button *ngIf="(accountService.currentUser$ | async) === null" color="info" routerLink="/register">
          Register
        </button>
        <button mat-raised-button *ngIf="(accountService.currentUser$ | async) === null" color="accent" routerLink="/login">
          Login
        </button>
        <button mat-raised-button *ngIf="accountService.currentUser$ | async" color="warn" (click)="logout()">
          Logout
        </button>
      </div>
    </div>
  </div>

</mat-toolbar>