<mat-toolbar color="primary">
    <div class="toolbar-area" fxLayout="row" fxLayoutAlign="space-between">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
        <span style="font-family: 'Bowlby One SC';">XpanD</span>
        <span  *ngIf="accountService.currentUser$ | async">Hi {{(accountService.currentUser$ | async).userName}}!</span>
        <button mat-raised-button *ngIf="accountService.currentUser$ | async" routerLink="/planets-board" color="accent">
          <span>Planets Board</span>
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
        <button mat-raised-button *ngIf="(accountService.currentUser$ | async) === null" color="info" routerLink="/register">
          Register
        </button>
        <button mat-raised-button *ngIf="(accountService.currentUser$ | async) === null" color="accent" routerLink="/login">
          Login
        </button>
        <button mat-raised-button *ngIf="accountService.currentUser$ | async" color="warn" (click)="logout()">
          Logout
        </button>
      </div>
    </div>
</mat-toolbar>